main {margin-top: 79px;}
.nav-icon { width: 22px; height: 22px; object-fit: contain; }
/* Colores */
#topNav .nav-link { color: var(--bs-secondary-color); }
#topNav .nav-link.active { color: var(--bs-primary); background: transparent; }